@tailwind base;
@tailwind components;
@tailwind utilities;


body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


.scrollbar-hidden::-webkit-scrollbar {
  display: none;
}
/* Custom Scrollbar */
.custom-scrollbar::-webkit-scrollbar {
  width: 10px; /* Adjust width */
}


.custom-scrollbar::-webkit-scrollbar-track {
 /* Background of scrollbar */
  background: #000000;
  border-radius: 10px;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background: linear-gradient(to bottom, #59FFA7, #2BFFF8); /* Gradient scrollbar */
  border-radius: 6px;
  min-height: 5px;
  max-height: 6px;
  margin-right: 15px;
}
.custom-scrollbar {
  overflow-y: auto;
  max-height: 60vh; /* Ensure it has a height limit */
  padding-right: 15px; /* Prevent content from touching scrollbar */
  scrollbar-gutter: stable; /* Avoid content shifting */
}
.custom-scrollbar::-webkit-scrollbar-thumb:hover {
  background: linear-gradient(to bottom, #2BFFF8, #59FFA7); /* Reverse gradient on hover */
}

.hide-scrollbar::-webkit-scrollbar {
  display: none;
}
.hide-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}